/*
@import './base.css';
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

body {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

.myBtn{
  background-color: rgb(236, 245, 255);
  color:#409eff


}

.myBtn:hover{
  border:solid #409eff 1px;
}

